.form-item {
    margin-bottom: 1em;
}

#sectorsSelector{
    width:50ch;
    resize: both;
}

.level-1 {
    margin-left: 0em;
}

.level-2 {
    margin-left: 1em;
}

.level-3 {
    margin-left: 2em;
}

.level-4 {
    margin-left: 3em;
}

.level-5 {
    margin-left: 4em;
}

.level-6 {
    margin-left: 5em;
}

.level-7 {
    margin-left: 6em;
}

.hidden {
    display:none;
}

.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
}

input[type=text],
input[type=checkbox] {
    /*-webkit-appearance: none;*/

    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:invalid,
select:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}